@charset "UTF-8";

:root{
    --cor1: #FF685E;
    --cor2: #EB4E42;
    --cor3: #FF351F;
    --cor4: #FF2814;
    --cor5: #E81C07;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100dvh;
    background-color:#FF351F;
}

header{
    display: flex;
    background-color: rgb(238, 48, 48);
    justify-content: space-between;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.452);
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
}

li{
    padding: 15px;
}

li > a{
    color: rgba(255, 255, 255, 0.788);
    padding-right: 20px;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img{
    width: 100px;
    padding-left: 20px;
}

.logo h3{
    color: white;
    margin-left: 10px;
}
.menu{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.788);
    position: absolute;
    font-size: 36px;
    right: 10px;
    top: 10px;
    display: none;
}

li a:hover,
.menu:hover{
    cursor: pointer;
    color: #fdfdfd;

}

.menu:focus ~ ul{
    height: 260px;
}

@media (max-width: 700px) {
    header, ul, .logo{
        flex-direction: column;
        align-items: unset;
    }

    ul{
        text-align: center;
        margin: 0;
        height: 0;
    }

    li a{
        padding-bottom: 100px;
    }

    header{
        padding-top: 20px;
    }

    .menu{
        display: flex;
        padding: 50px 20px;
    }

    li, ul{
        width: 100%;
    }

    .notice-pm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .notice-pm1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notice-img {
        width: 70px;
        box-shadow: 1px 1px 3px black;
    }

    h2 {
        font-size: 20px;
    }

    .seletivo {
        font-size: 15px;
    }

    .google-map{
        display: none;
    }
}
 
main{
    box-sizing: border-box;
    min-width: 300px;
    max-width: 1000px;
    background-color: #fff;  
    margin: auto;  
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(252, 2, 2, 0.479);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
}   

.container{
    position: relative;
    padding: 15px;
    max-width: 750px;
    margin: 50px auto;
}

.gallery-wrapper{
    overflow-x: auto;
}
.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;
}

.arrow-right{
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery{
    display: flex;
    flex-wrap: row nowrap;
    gap: 15px;
}

.item{
    width: 710px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
  
}



/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */


/* Hide scrollbar for IE, Edge and Firefox */

.wakke{
    margin: 50px 49px;
    padding: 20px 15px;
    padding: 60px 0px; 
    border-bottom: 1px black; 
    flex-wrap: wrap;
}

.app{
    color: var(--cor4);
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

.wakke-container{
    align-items: center;
    padding-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.onecmcb-logo{
    margin: 20px 0px;
}

.app{
    display: flex;
    justify-content: space-between;
}

.click a{
    color: var(--cor4);
    font-size: 15px;
    
    text-decoration: none;
}



.info{
    color: var(--cor4);
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: space-between;
}

.info {
    margin: 0 20px 0 50px;
}

.click {
    color: var(--cor4);
    font-size: 15px;
    margin-bottom: 30px;
    
}



.notice-pm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.notice-block{
    box-shadow: 1px 1px 3px black;
    margin: 40px 0 40px 0;
    text-align: center;
}

.notice-img{
    width: 300px;
}

.notice-img1{
    width: 100px;
}

.modulo-sup{
    text-align: center;
}

.direction{
    display: flex;
    justify-content: space-around;
}

.direction-one{
    padding:  50px 0px;
    text-align: center;
    display: flex;
    width: 200px;
    align-items: center; 
}

.direction-cmt h3{
    background-color: red;
    color: yellow;
    align-items: center;
    margin-bottom: 20px;
}

.modulo-sup{
    display: flex;
    align-items: center;
}


.cmcb-logo{
    width: 300px;
}

@media (max-width: 700px) {

    .container{
        position: relative;
        padding: 15px;
        max-width: 450px;
        margin: 50px auto;
    }

    .image-top img,
    .notice-img{
        width: 400px;
        margin: 20px auto;
        padding-right: 100px;
        align-items: center;
        text-align: center;
   } 

   .notice-block{
    box-shadow: none;
   }

   .container{
    display: none;
   }


   .info,
   .app{
    
    align-items: center;
    font-size: 25px;
   }

   .img-info{
    padding-right: 30px;
   }
}

.inscricao {
    align-items: center;
    position: relative;
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.452);
}

.inscricao iframe {
    width: 100%;
    height: 100%;
}

.google-map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px -80px 30px 0;
}

.map{
    align-items: center;
    position: relative;
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.452);
}

.map iframe {
    width: 100%;
    height: 100%;
}

.media-footer{
    background-color: #FF351F;
    color: white;
    text-align: center;
    width: 100%;
    height: 10vh;
}

.img-footer {
    width: 60px;
}